---

---

<div class="check-icon">
  <div class="badge green-back-color text-white badge-rounded-circle">
    <i class="fe fe-check"></i>
  </div>
</div>

<style>
  .check-icon {
    width: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .check-icon path {
    stroke: var(--bs-gray-700);
  }
  i {
    position: relative;
    top: 1px;
  }
  .green-back-color {
    background-color: #39B54A;
  }
</style>
